/* .sectionone,
    .sectiontwo {
        margin: 40px;
    } */

.sectionone {
    /* width: 100%;
    height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
}

.sectiontwo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
    flex-direction: row-reverse;
}

.left-img,
.right-img {
    width: 414px;
    height: 414px;
    object-fit: cover;
    flex: none;
    flex-grow: 0;
}

.sectionone h2,
.sectiontwo h2 {
    font-size: 27px;
    color: #6B3CC9;
}

.sectionone p,
.sectiontwo p {
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    width: 520px;
    line-height: 22px;
    padding: 16px 0;
    color: #000000;
}

.butt1,
.butt2 {
    padding: 12px 20px;
    gap: 8px;

    width: 139px;
    height: 38px;

    background: #F28D35;
    border: none;
    border-radius: 4px;

    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #FFFFFF;
}

@media screen and (max-width:1080px) {

    .left-img,
    .right-img {
        width: 346px;
        height: 346px;
    }

    .sectionone,
    .sectiontwo {
        gap: 0;
    }

    .sectionone p,
    .sectiontwo p {
        width: 480px;
    }
}

@media screen and (max-width:860px) {

    .left-img,
    .right-img {
        width: 275px;
        height: 275px;
    }
}

@media screen and (max-width:780px) {

    .left-img,
    .right-img {
        width: 346px;
        height: 346px;
    }

    .sectionone,
    .sectiontwo {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .sectionone h2,
    .sectiontwo h2 {
        text-align: center;
    }

    .sectionone p,
    .sectiontwo p {
        text-align: center;
    }

    .butt1,
    .butt2 {
        margin-left: 36%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:560px) {

    .sectionone,
    .sectiontwo {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }

    .sectionone h2,
    .sectiontwo h2 {
        width: 335px;
    }

    .sectionone p,
    .sectiontwo p {
        width: 335px;
    }

    .butt1,
    .butt2 {
        margin-left: 30%;
    }

}